<div class="row">
	<div class="span12">
		<div class="hero-unit">
            <h3>Welcome to the CMA Portal</h3>
            <p>This CMA portal will help you to do all the activities related to the CMA. Use the below app collections to do your job.</p>
          </div>
	</div>
</div>
<div id="AppSearch" ng-controller='AppsListController'>
	<div class="row">	
		<div class="span2">
			Search CMA Online Services
		</div>
		<div class="span6">
			<input type="text" placeholder="Search the CMA Services Online" class="input-xxlarge" ng-model='search.$'>
		</div>
		<div class="span4">
			<a href="#search" class="btn btn-large btn-primary" >Search</a>
		</div>
	</div>
	<div class="row" id="Appresults">

		  <ul id="appsResultList" class="span12">
			  <li class="span4" ng-repeat='app in appsList | filter:search'>
				  <div class="thumbnail">
				  	<b> <a href="#/app/{{app.appid}}"> {{ app.name }}</a></b>
				  </div>
			  </li>
		  </ul>
		
	</div>
</div>