<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html">One CMA</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#/dashboard">Dashboard</a></li>
          <li class=""><a href="#/notifications">My Notifications</a></li>
          <li class=""><a href="#/departments">Departments</a></li>
          <li class=""><a href="#/analytics">Analysis</a></li>
          <li class=""><a href="#/complaints">Book a Complaint</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="active"><a href="#/dashboard">Welcome <b>Senthil Kumar!</b></a></li>
          <li class=""><a href="#/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
