<div class="row">
	<div class="span3">
		<div ng-include src="'partials/others/sidemenu.html'"></div>
	</div>
	<div class="span9">
		<h3>Enter New Born Baby details</h3>
		<table class="table table-bordered">
			<tr>
				<td>Name</td><td> <input type="text" placeholder="Enter Baby Name"/> </td></tr><tr>
				</tr><tr><td>Parents Name</td><td> <input type="text" placeholder="Enter Father Name"/>  <input type="text" placeholder="Enter Mother Name"/> </td>				
				</tr><tr><td>DOB</td><td> <input type="text" placeholder="Enter Date Of Birth"/> </td>
				</tr><tr><td>Weight</td><td> <input type="text" placeholder="Enter Baby weight in Kgs"/> </td>
				</tr><tr>
					<td>Remarks</td><td> <input	type="text"/> </td>
				</tr>
				<tr>
					<td colspan="2"><a href="#/app/newbaby" class="btn btn-success"> Register Birth</a></td>
				</tr>
			</tr>
		</table>
	</div>
</div>