<div class="row">
	<div class="span3">
		<div ng-include src="'partials/others/sidemenu.html'"></div>
	</div>
	<div class="span9">
		<h3>Search Baby Details</h3>
		<table class="table table-bordered">
			<tr>
				<td>ID</td><td><input type="text" placeholder="Enter Unique ID Given to baby"/> </td>
			</tr>
			<tr>
				<td>Search by  ID Proof</td><td><input type="text" placeholder="Enter Unique ID Given to baby"/> </td>
			</tr>
			<tr>
				<td>Name</td><td> <input type="text" placeholder="Enter Baby Name"/> </td></tr><tr>
				</tr>
				<tr><td>Parents Name</td><td> <input type="text" placeholder="Enter Father Name"/>  <input type="text" placeholder="Enter Mother Name"/> </td>				
				</tr><tr><td>DOB</td><td> <input type="text" placeholder="Enter Date Of Birth"/> </td>
				</tr>
				<tr>
					<td>Address / Street</td><td> <input	type="Enter address details"/> </td>
				</tr>
				<tr>
					<td colspan="2"><a href="#/app/searchbaby" class="btn btn-success"> Search Baby</a></td>
				</tr>
			</tr>
		</table>
	</div>
</div>